aside {
    background-color: $color-body;
    grid-area: aside;

    @extend .flex-start;

    border-radius: 10px;

    .aside_container {
        width: 100%;
        max-width: 250px;
        height: 100%;

        @extend .flexCenter;

        .Card {
            width: 100%;
            max-width: 235px;
            height: 100%;

            @extend .flexSpace-aroundColumn;

            .MyCard {
                width: 100%;
                max-width: 235px;
                height: 156px;

                @extend .flexSpace-aroundColumn;

                background-color: $primary-color;
                border-radius: 10px;

                img {
                    width: 75%;
                }

                p {
                    width: 90%;
                    height: 30px;

                    @extend .flexSpace-between;

                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;

                    color: #dbdfea;
                }

                .fa-ellipsis-h {
                    font-size: 15px;
                    color: #dbdfea;

                    cursor: pointer;
                }
            }

            .Anallytics {
                width: 100%;
                max-width: 235px;
                height: 45%;
                height: 358px;

                @extend .flexSpace-aroundColumn;

                background-color: $primary-color;
                border-radius: 10px;

                p {
                    width: 90%;
                    height: 30px;

                    @extend .flexSpace-between;

                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;

                    color: #dbdfea;
                }

                .titleAnallytics {
                    width: 90%;
                    height: 30px;

                    @extend .flexSpace-between;

                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;

                    color: #dbdfea;

                    summary {
                        width: 100px;
                        max-width: 100px;
                        height: 27px;

                        @extend .flexSpace-evenly;

                        background: #1d1e2c;
                        border: none;
                        border-radius: 20px;
                        cursor: pointer;

                        p {
                            width: 60%;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;

                            color: #dbdfea;
                        }
                    }

                    .ml-4 {
                        @extend .flexSpace-betweenColumn;

                        position: absolute;
                        right: 40px;
                        width: 100px;
                        height: 100px;
                        color: #dbdfea;

                        border-radius: 10px 0px 0px 10px;

                        .ThisMonth {
                            width: 100%;
                            height: 30px;
                            background-color: #dbdfea;
                            border-radius: 20px;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $primary-color;
                            cursor: pointer;
                        }
                    }
                }

                .anally_statistics {
                    width: 100%;
                    max-width: 205px;
                    max-height: 90%;
                    height: 254.81px;

                    @extend .flexSpace-betweenColumn;

                    .Stairs {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 30px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_Statistics {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .StairsGraphic {
                                width: 64px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .Footings {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 30px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_Footings {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .FootingsGraphic {
                                width: 64px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .Electrical {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 30px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_Electrical {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .ElectricalGraphic {
                                width: 59px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .FramingMaterial {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_FramingMaterial {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .FramingMaterialGraphic {
                                width: 55px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .FinishLabor {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_FinishLabor {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .FinishLaborGraphic {
                                width: 48px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .Hardware {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_Hardware {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .HardwareGraphic {
                                width: 48px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .Framing {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_Framing {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .FramingGraphic {
                                width: 32px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .TileInstallation {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_TileInstallation {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .TileInstallationGraphic {
                                width: 25px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .Roofing {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_Roofing {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .RoofingGraphic {
                                width: 25px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .AppliancesInstall {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.2px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_AppliancesInstall {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .AppliancesInstallGraphic {
                                width: 13px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .Insulation {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_Insulation {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .InsulationGraphic {
                                width: 10px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }

                    .InteriorPainting {
                        width: 100%;
                        max-width: 204px;
                        height: 13px;

                        @extend .flexSpace-between;

                        display: flex;

                        p {
                            width: 92px;
                            height: 100%;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 10.5px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: #dbdfea;
                        }

                        .bar_InteriorPainting {
                            width: 100px;
                            height: 10px;

                            @extend .flexSpace-between;

                            border-radius: 100px;
                            background-color: #1d1e2c;

                            .InteriorPaintingGraphic {
                                width: 10px;
                                height: 100%;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
