.aside {
	width: 30%;
	max-width: 250px;
	height: 100%;

	.container_aside {
		width: 100%;
		height: 100%;

		@extend .flexSpace-betweenColumn;

		.Card {
			width: 100%;
			height: 35%;

			@extend .flexSpace-aroundColumn;

			background-color: $primary-color-dark;
			border-radius: 6px;

			.MyCard_title {
				width: 90%;
				height: 32px;

				@extend .flexSpace-between;

				.fa-ellipsis-h {
					color: $color-font-dark;
				}

				p {
					font-family: $font-all;
					font-style: normal;
					font-weight: 800;
					font-size: 18px;
					line-height: 16px;
					display: flex;
					align-items: center;

					color: $color-font-dark;
				}
			}

			img {
				width: 90%;
			}
		}

		.Anallytics {
			width: 100%;
			height: 64%;

			@extend .flexSpace-aroundColumn;

			background-color: $primary-color-dark;
			border-radius: 6px;

			.Anallytics_title {
				width: 90%;
				height: 32px;

				@extend .flexSpace-between;

				p {
					font-family: $font-all;
					font-style: normal;
					font-weight: 800;
					font-size: 18px;
					line-height: 16px;
					display: flex;
					align-items: center;

					color: $color-font-dark;
				}

				button {
					width: 90px;
					height: 25px;

					@extend .flexSpace-evenly;

					background: #1d1e2c;
					border-radius: 20px;
					border: none;

					font-family: sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 12px;
					line-height: 8px;

					display: flex;
					align-items: center;
					cursor: pointer;

					color: $color-font-dark;
          font-family: $font-all;
				}
			}

			.Anallytics_Graphic {
				width: 90%;
				max-width: 235px;
				height: 75%;

				@extend .flexSpace-betweenColumn;

				.stairs_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.startsGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.startsBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.footings_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.footingsGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.footingsBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.electrical_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.electricalGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.electricalBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.framingMaterial_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.framingMaterialGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.framingMaterialBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.finishLabor_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.finishLaborGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.finishLaborBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.Hardware_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.HardwareGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.HardwareBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.Framing_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.FramingGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.FramingBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.TileInstallation_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.TileInstallationGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.TileInstallationBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.Roofing_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.RoofingGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.RoofingBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.AppliancesInstall_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.AppliancesInstallGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.AppliancesInstallBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.Insulation_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.InsulationGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.InsulationBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}

				.InteriorPainting_group {
					width: 100%;
					height: 11px;

					@extend .flexSpace-between;

					p {
						width: 50%;
						height: 100%;

						font-family: $font-all;
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 9px;
						display: flex;
						align-items: center;

						color: $color-font-dark;
					}

					.InteriorPaintingGraphic {
						width: 50%;
						max-width: 100px;
						height: 100%;

						background-color: $color-body-dark;
						border-radius: 100px;

						.InteriorPaintingBar {
							width: 50%;
							height: 100%;

							background: linear-gradient(90deg, #dc2430 -14.86%, #db2379 51.15%, #7b4397 98.14%);
							border-radius: 100px;
						}
					}
				}
			}

			.Anallystics_Total {
				width: 90%;
				height: 28px;
				@extend .flexSpace-between;

				border-top: 1px solid #1d1e2c;

				p {
					font-family: $font-all;
					font-style: normal;
					font-weight: 800;
					font-size: 16px;
					line-height: 12px;
					display: flex;
					align-items: center;

					color: $color-font-dark;
				}

				h6 {
					font-family: $font-all;
					font-style: normal;
					font-weight: 800;
					font-size: 16px;
					line-height: 12px;
					display: flex;
					align-items: center;

					color: $color-font-dark;
				}
			}
		}
	}
}