$color-body-dark: #1d1e2c;
$color-body-light: #f5f6fa;
$primary-color-dark: #24263a;
$primary-color-light: #fff;

$color-font-dark: #dbdfea;
$color-font-light: #364A63;

$search-time: 400ms;
$reset-time: 150ms;

//CIRCLE'S
$circle-red-color: #9b4343;
$circle-rebeccapurple-color: #894ba9;

@function set-text-dark($color) {
	@if lightness($color) > 50 {
		@return #dbdfea;
	} @else {
		@return #364A63;
	}
}

.flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.flex-startColumn {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

.flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.flex-endColumn {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
}

.flexSpace-evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.flexSpace-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flexSpace-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flexSpace-evenlyColumn {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.flexSpace-aroundColumn {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.flexSpace-betweenColumn {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.flexalign-StartColumn {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
}

.flexalign-EndColumn {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-around;
}

.flexalign-EndColumnBetween {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;
}

.flexalign-EndColumnAround {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-around;
}

.flexalign-EndColumnEvenly {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-evenly;
}

.flexDirColumn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.flexDirRow {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;

	background-color: $color-body-dark;

	.container {
		width: 100%;
		height: 97vh;

		@extend .flexSpace-between;

		background-color: $color-body-dark;

		.main {
			width: 83%;
			max-width: 1440px;
			height: 100%;

			@extend .flexalign-StartColumn;

			background-color: $color-body-dark;

			.container_main {
				width: 98.5%;
				height: 85%;
				max-height: 729px;

				@extend .flexSpace-between;
			}
			.container_main.container_main-light {
				background-color: $color-body-light;
			}
		}
		.main.light-main {
			background: $color-body-light;
		}
	}
	.container.light-container {
		background: $color-body-light;
	}
}
body.body-light {
	$color-body-light: #fff;
}
