$color-body: #1D1E2C;

$primary-color: #24263A; // 24263A

$second-color: #E7ECEF;

$color-txt: #DBDFEA;

$border-nav: #1D1E2C;

$hover-color: #1D1E2C;

$circle-possible-color: #9B4343;

$circle-newmsg-color: #439B57;

$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 20%); 
$background: #3498db;

@function set-text-color($color){
    @if lightness($color) > 88.8{ // light 90 dark 70
        @return #DBDFEA;
    }
    @else{
        @return #364A63;
    }
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.flex-startColumn{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.flex-end{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.flex-endColumn{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.flexSpace-evenly{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flexSpace-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexSpace-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexSpace-evenlyColumn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;  
}

.flexSpace-aroundColumn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.flexSpace-betweenColumn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.flexalign-itemsColumn{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

.flexDirColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexDirRow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: $color-body;

    .grid_container{
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 68px auto;
        grid-template-areas:
        'nav header header header header header'
        'nav main main main main aside'
        'nav main main main main aside';
        
        gap: 15px;
    }
}