content {
    background-color: $color-body;
    grid-area: main;

    .content_container {
        width: 100%;
        height: 100%;

        @extend .flexSpace-evenlyColumn;

        .content_total {
            width: 100%;
            height: 92px;

            border-radius: 10px;

            @extend .flexSpace-between;

            .totalBalance {
                width: 100%;
                max-width: 250px;
                height: 92px;

                border-radius: 10px;
                background-color: $primary-color;
                background-image: url(../img/GraphicBalance.svg);
                background-repeat: no-repeat;
                background-position-x: 100%;
                background-position-y: 100%;
                background-size: 80%;

                color: set-text-color($color-txt);

                @extend .flexSpace-evenlyColumn;

                .TxtBalance {
                    @extend .flexSpace-between;

                    width: 90%;
                    max-width: 200px;
                    height: 20px;

                    font-family: "Gilroy", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 12px;

                    display: flex;
                }

                .fa-ellipsis-h {
                    font-size: 20px;
                }

                .valuebalance {
                    width: 90%;
                    max-width: 200px;

                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;

                    color: set-text-color($color-txt);
                }

                .percentageBalance {
                    width: 90%;
                    max-width: 200px;

                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 12px;

                    display: flex;

                    color: #34e4b5;
                }
            }

            .totalExpence {
                width: 100%;
                max-width: 250px;
                height: 92px;

                border-radius: 10px;
                background-color: $primary-color;
                background-image: url(../img/GraphicExpence.svg);
                background-repeat: no-repeat;
                background-position-x: 100%;
                background-position-y: 100%;
                background-size: 80%;

                color: set-text-color($color-txt);

                @extend .flexSpace-evenlyColumn;

                .TxtExpence {
                    @extend .flexSpace-between;

                    width: 90%;
                    max-width: 200px;
                    height: 20px;

                    font-family: "Gilroy", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 12px;

                    display: flex;
                }

                .fa-ellipsis-h {
                    font-size: 20px;
                }

                .valueExpence {
                    width: 90%;
                    max-width: 200px;

                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;

                    color: set-text-color($color-txt);
                }

                .percentageExpence {
                    width: 90%;
                    max-width: 200px;

                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 12px;

                    display: flex;

                    color: #DC2430;
                }
            }

            .totalSavings {
                width: 100%;
                max-width: 250px;
                height: 92px;

                border-radius: 10px;
                background-color: $primary-color;
                background-image: url(../img/GraphicSavings.svg);
                background-repeat: no-repeat;
                background-position-x: 100%;
                background-position-y: 100%;
                background-size: 80%;

                color: set-text-color($color-txt);

                @extend .flexSpace-evenlyColumn;

                .TxtSavings {
                    @extend .flexSpace-between;

                    width: 90%;
                    max-width: 200px;
                    height: 20px;

                    font-family: "Gilroy", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 12px;

                    display: flex;
                }

                .fa-ellipsis-h {
                    font-size: 20px;
                }

                .valueSavings {
                    width: 90%;
                    max-width: 200px;

                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;

                    color: set-text-color($color-txt);
                }

                .percentageSavings {
                    width: 90%;
                    max-width: 200px;

                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 12px;

                    display: flex;

                    color: #34e4b5;
                }
            }
        }

        .content_Outlay {
            width: 100%;
            height: 230px;

            border-radius: 10px;
            background-color: $primary-color;

            @extend .flexSpace-evenlyColumn;

            color: set-text-color($color-txt);

            .TxtOutlay {
                @extend .flexSpace-between;

                width: 95%;
                height: 20px;

                p {
                    font-family: "Gilroy", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 12px;

                    display: flex;
                }

                .btnOutlay {
                    width: 40%;
                    max-width: 309px;
                    height: 20px;

                    @extend .flexSpace-between;

                    .Previousmonth {
                        width: 90px;
                        height: 100%;

                        @extend .flexSpace-between;

                        .fa-circle {
                            font-size: 6px;

                            color: #894ba9;
                        }

                        p {
                            font-family: "Gilroy", sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }

                    .Selectedmonth {
                        width: 90px;
                        height: 100%;

                        @extend .flexSpace-between;

                        .fa-circle {
                            font-size: 6px;

                            color: #e03a45;
                        }

                        p {
                            font-family: "Gilroy", sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }

                    button {
                        cursor: pointer;
                        width: 80px;
                        height: 20px;

                        border: none;
                        color: set-text-color($color-txt);
                        background: #1d1e2c;
                        border-radius: 20px;

                        font-family: "Gilroy", sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }

            .OutlayGraphic {
                width: 95%;
                height: 150px;

                @extend .flexSpace-between;

                .OutlayGraphic_numberleft {
                    width: 25%;
                    max-width: 45px;
                    height: 100%;

                    @extend .flexSpace-betweenColumn;

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 9px;
                        display: flex;
                        align-items: center;

                        color: set-text-color($color-txt);
                    }
                }

                .OutlayGraphic_image {
                    width: 100%;
                    height: 150px;

                    background-image: url(../img/OutlayGraphic.svg);
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }

            .OutlayGraphic_numberdown {
                width: 95%;
                height: 15px;

                @extend .flexSpace-between;

                .numberdown {
                    width: 93.5%;
                    height: 15px;

                    @extend .flexSpace-between;

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 8px;
                        line-height: 9px;
                        display: flex;

                        color: set-text-color($color-txt);
                    }
                }
            }
        }

        .Income {
            width: 100%;
            height: 177px;

            border-radius: 10px;
            background-color: $color-body;

            @extend .flexSpace-between;

            .Income_graphic {
                width: 57%;
                max-width: 500px;
                height: 100%;

                background-color: $primary-color;
                @extend .flexSpace-aroundColumn;

                border-radius: 10px;

                p {
                    width: 97%;
                    height: 30px;

                    @extend .flexSpace-between;

                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;

                    color: set-text-color($color-txt);
                }

                button {
                    width: 80%;
                    max-width: 100px;
                    height: 27px;

                    @extend .flexSpace-evenly;

                    background: #1d1e2c;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;

                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 8px;

                    display: flex;
                    align-items: center;

                    color: set-text-color($color-txt);
                }

                .IncomeGraphic {
                    width: 97%;
                    height: 92.08px;

                    @extend .flexSpace-between;

                    .IncomeGraphic_numberleft {
                        width: 25%;
                        max-width: 45px;
                        height: 92.06px;

                        @extend .flexSpace-betweenColumn;

                        p {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 11px;
                            line-height: 9px;
                            display: flex;
                            align-items: center;

                            color: set-text-color($color-txt);
                        }
                    }

                    .IncomeGraphic_Rectangle {
                        width: 89%;
                        height: 92.06px;

                        background-repeat: no-repeat;
                        background-size: 100%;

                        @extend .flexSpace-around;

                        .Rectangle {
                            width: 10px;
                            height: 100%;

                            background-color: #1d1e2c;
                            border-radius: 100px;

                            @extend .flex-end;

                            .Rectangle-Jan {
                                width: 100%;
                                height: 41.57px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Fab {
                                width: 100%;
                                height: 65.72px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Mar {
                                width: 100%;
                                height: 57.73px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Apr {
                                width: 100%;
                                height: 62.35px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-May {
                                width: 100%;
                                height: 62.35px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Jun {
                                width: 100%;
                                height: 36.95px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Jul {
                                width: 100%;
                                height: 50.8px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Aug {
                                width: 100%;
                                height: 62.35px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Sep {
                                width: 100%;
                                height: 36.95px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Oct {
                                width: 100%;
                                height: 64.66px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Nov {
                                width: 100%;
                                height: 50.8px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }

                            .Rectangle-Dec {
                                width: 100%;
                                height: 42.66px;

                                background: linear-gradient(59.45deg, #dc2430 -58.34%, #db2379 19.04%, #7b4397 140.91%);
                                border-radius: 100px;
                            }
                        }
                    }
                }
                .IncomeGraphic_numberdown {
                    width: 97%;
                    height: 15px;

                    @extend .flexSpace-between;

                    .Incomenumberdown {
                        width: 89%;
                        height: 15px;

                        @extend .flexSpace-around;

                        p {
                            width: 19px;
                            height: 100%;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;

                            color: set-text-color($color-txt);
                        }
                    }
                }
            }

            .Income_Transactions {
                width: 40%;
                max-width: 453px;
                height: 100%;

                background-color: $primary-color;

                @extend .flexSpace-aroundColumn;

                border-radius: 10px;

                img {
                    width: 75%;
                }

                p {
                    width: 90%;
                    height: 30px;

                    @extend .flexSpace-between;

                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;

                    color: set-text-color($color-txt);
                }

                .fa-ellipsis-h {
                    font-size: 15px;
                    color: set-text-color($color-txt);

                    cursor: pointer;
                }

                .Income_RefuelingGasoline {
                    width: 90%;
                    height: 37px;

                    @extend .flexSpace-between;
                    border-bottom: 1px solid #1d1e2c;

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;

                        color: set-text-color($color-txt);
                    }

                    h6 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;

                        color: #e03a45;
                    }
                }

                .Income_PurchaseOfFurniture {
                    width: 90%;
                    height: 37px;

                    @extend .flexSpace-between;

                    border-bottom: 1px solid #1d1e2c;

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;

                        color: set-text-color($color-txt);
                    }

                    h6 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;

                        color: #e03a45;
                    }
                }

                .Income_CashRefundForTickets {
                    width: 90%;
                    height: 37px;

                    @extend .flexSpace-between;

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;

                        color: set-text-color($color-txt);
                    }

                    h6 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;

                        color: #34e4b5;
                    }
                }
            }
        }
    }
}

/* 
                                animation-name: example;
                                animation-duration: 10s;
                                animation-iteration-count: infinite;
                                @keyframes example {
                                    0%   {height: 41.57px;}
                                    5%  {height: 42.57px;}
                                    10%  {height: 43.57px;}
                                    15%  {height: 44.57px;}
                                    20% {height: 45.57px;}
                                    25%   {height: 46.57px;}
                                    30%  {height: 47.57px;}
                                    40%  {height: 48.57px;}
                                    45%  {height: 49.57px;}
                                    50% {height: 50px;}
                                }
*/
