.header {
	width: 98.5%;
	height: 68px;

	@extend .flexCenter;

	background-color: $primary-color-dark;
	margin-top: 3px;
	border-radius: 0px 20px 0px 10px;

	.container_header {
		width: 98%;
		height: 50px;

		@extend .flexSpace-between;

		.header_helloName {
			width: 100px;
			height: 100%;

			@extend .flexCenter;

			.h1_helloName {
				font-family: $font-all;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 16px;
				display: flex;
				align-items: center;

				color: $primary-color-light;
			}
		}

		.header_infos {
			width: 300px;
			height: 100%;

			@extend .flexSpace-around;

			.search-box {
				border: solid 2px set-text-dark($primary-color-light);
				display: inline-block;
				position: relative;
				border-radius: 50px;
				input[type="text"] {
					font-family: Raleway, sans-serif;
					font-size: 14px;
					font-weight: 500;
					width: 12px;
					height: 16px;
					padding: 5px 40px 5px 10px;
					border: none;
					box-sizing: border-box;
					border-radius: 50px;
					background-color: rgba(0, 0, 0, 0);
					color: white;
					transition: width $search-time cubic-bezier(0.68, -0.55, 0.27, 1.55) $reset-time;
					&:focus {
						outline: none;
					}
					&:focus,
					&:not(:placeholder-shown) {
						width: 130px;
						transition: width $search-time cubic-bezier(0.68, -0.55, 0.27, 1.55);
						+ button[type="reset"] {
							bottom: 3px;
							right: 3px;
							transition: bottom $reset-time ease-out $search-time, right $reset-time ease-out $search-time;
						}
						+ button[type="reset"]:after {
							top: 0;
							right: 5px;
							opacity: 1;
							transition: top $reset-time ease-out ($search-time + $reset-time),
								right $reset-time ease-out ($search-time + $reset-time),
								opacity $reset-time ease ($search-time + $reset-time);
						}
					}
				}
				button[type="reset"] {
					background-color: transparent;
					width: 12px;
					height: 12px;
					border: 0;
					padding: 0;
					outline: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					bottom: -8px;
					right: -9px;
					transition: bottom $reset-time ease-out $reset-time, right $reset-time ease-out $reset-time;
					&:before,
					&:after {
						content: "";
						height: 12px;
						border-left: solid 2px set-text-dark($primary-color-light);
						position: absolute;
						transform: rotate(-45deg);
					}
					&:after {
						transform: rotate(45deg);
						opacity: 0;
						top: -20px;
						right: -10px;
						transition: top $reset-time ease-out, right $reset-time ease-out, opacity $reset-time ease-out;
					}
				}
			}

			.fa-bell {
				font-size: 24px;
				color: $primary-color-light;
				cursor: pointer;
			}

			.header_profile {
				width: 45px;
				height: 45px;

				img {
					width: 100%;
					height: 100%;
					cursor: pointer;
				}
			}

			.fa-angle-down {
				font-size: 18px;
				color: $color-body-light;
				cursor: pointer;
			}
		}
	}
}