header {
    background-color: $primary-color;
    border-radius: 0px 20px 0px 10px;
    grid-area: header;

    @extend .flexCenter;

    .header_container {
        width: 92%;
        max-width: 1104px;
        height: 90%;

        @extend .flexSpace-between;

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;

            color: set-text-color($color-txt);
        }

        .header_infos {
            width: 100%;
            max-width: 250px;
            height: 100%;
            max-height: 35px;

            @extend .flexSpace-between;

            color: set-text-color($color-txt);

            .lightAndDark {
                width: 40px;
                height: 20px;

                display: flex;
                align-items: center;
                justify-content: center;

                .sun {
                        display: none;
                        font-size: 18px;
                        cursor: pointer;
                }

                .fa-moon {
                    display: none;
                    font-size: 18px;
                    cursor: pointer;
                }
                input[type="checkbox"] {
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }

                label {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 100%;
                    height: 100%;
                    background: #000dc0;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    border-radius: 100px;
                    position: relative;
                }

                label:after {
                    content: "\f099";
                    background: linear-gradient(90deg, #DC2430 0%, #DB2379 51.04%, #7B4397 100%);
                    width: 16px;
                    height: 16px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 1.6px;
                    left: 2px;
                    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                }

                input:checked + label {
                    background: #1D1E2C;
                }

                input:checked + label:after {
                    left: calc(100% - 2px);
                    -webkit-transform: translateX(-100%);
                    -moz-transform: translateX(-100%);
                    -ms-transform: translateX(-100%);
                    -o-transform: translateX(-100%);
                    transform: translateX(-100%);
                }

                html.transition,
                html.transition *,
                html.transition *:before,
                html.transition *:after {
                    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
                    transition-delay: 0 !important;
                }

            }

            .fa-search {
                font-size: 18px;
                cursor: pointer;
            }

            .fa-bell {
                font-size: 18px;
                cursor: pointer;
            }

            .fa-chevron-down {
                font-size: 18px;
                cursor: pointer;
            }

            .box_profile {
                width: 100%;
                max-width: 69px;
                height: 100%;

                @extend .flexSpace-between;

                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 8px;
                    line-height: 9px;
                    display: flex;
                    align-items: center;

                    color: set-text-color($color-txt);
                }
            }
        }
    }
}
