nav{
    background: $primary-color;
    border-radius: 20px 0px 0px 20px;
    grid-area: nav;

    .nav_container{
        width: 100%;
        height: 530px;

        margin-top: 20px;

        @extend .flexSpace-betweenColumn;

        .nav_logo{
            width: 100%;
            max-width: 180px;
            height: 36px;

            text-align: center;

            @extend .flex-startColumn;
            border-bottom: 1px solid #1D1E2C;

            p{
                position: relative;
                left: 35px;

                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 18px;
                display: flex;
                align-items: center;
                
                color: #DBDFEA;
            }
        }

        .nav_menus{
            width: 100%;
            height: 100%;
            max-height: 346px;

            @extend .flexalign-itemsColumn;
            border-bottom: 1px solid #1D1E2C;

            .Daseboard{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flex-startColumn;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Daseboard_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;

                    .fa-chart-pie{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }
            
            .Userprofiles{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Userprofiles_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-user-alt{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }

            .Messages{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Messages_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-comment-alt{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }

            .Transactions{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Transactions_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-credit-card{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }

            .Mywallet{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Mywallet_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-wallet{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }
            
            .Payment{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Payment_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-dollar-sign{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }

            .Investment{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }
    
                .Investment_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-chart-bar{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }

            .Reports{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Reports_container{
                    width: 120px;
                    height: 25px;
                    position: relative;
                    left: 20px;

                    @extend .flexSpace-between;

                    .fa-clipboard{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }
        }

        .nav_config{
            width: 100%;
            height: 84px;

            @extend .flexalign-itemsColumn;
            border-bottom: 1px solid #1D1E2C;

            .Settings{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;

                &:hover{
                    background-color: $color-body;
                }

                .Settings_container{
                    width: 100%;
                    max-width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-cog{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }

            .Support{
                width: 90%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;

                &:hover{
                    background-color: $color-body;
                }

                .Support_container{
                    width: 120px;
                    height: 25px;

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-question-circle{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }
        }
    
        .nav_exit{
            width: 100%;
            height: 38px;
            
            @extend .flexalign-itemsColumn;

            .Logout{
                width: 100%;
                max-width: 220px;
                height: 40px;

                @extend .flexSpace-between;

                border-radius: 100px 0px 0px 100px;
                cursor: pointer;

                &:hover{
                    background-color: $color-body;
                }

                .Logout_container{
                    width: 120px;
                    height: 25px; 

                    @extend .flexSpace-between;
                    position: relative;
                    left: 20px;


                    .fa-sign-out-alt{
                        @extend .flexCenter;

                        width: 25px;
                        height: 100%;
                        color: #DBDFEA;
                        font-size: 19px;
                    }

                    p{
                        width: 85px;
                        height: 100%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        color: #DBDFEA;
                    }
                }
            }
        }
    }
}