.nav {
	width: 210px;
	height: 100%;
	background-color: $primary-color-dark;
	border-radius: 20px 0px 0px 20px;

	.container_nav {
		width: 100%;
		height: 100%;
		max-height: 576px;

		margin-top: 9px;

		.Logo {
			width: 100%;
			height: 68px;

			@extend .flexCenter;

			border-bottom: 1px solid #1d1e2c;

			h1 {
				font-family: "Gilroy", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 15px;
				line-height: 18px;
				display: flex;
				align-items: center;

				color: set-text-color($color-font);
			}
		}

		.nav_options {
			width: 100%;
			height: 60%;
			max-height: 450px;

			@extend .flexalign-EndColumnEvenly;

			border-bottom: 1px solid #1d1e2c;

			.dashboard {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-chart-pie {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.Userprofiles {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-user-tie {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.Messages {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-comment-alt {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.Transactions {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-money-check-alt {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.Mywallet {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-wallet {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.Payment {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-hand-holding-usd {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.Investment {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-chart-line {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.Reports {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-clipboard {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}
		}

		.nav_settings {
			width: 100%;
			height: 55%;
			max-height: 90px;

			@extend .flexalign-EndColumnEvenly;

			border-bottom: 1px solid #1d1e2c;

			.settings {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-cog {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}

			.support {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-question-circle {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}
		}

		.nav_Logout {
			width: 100%;
			height: 55px;

			@extend .flexalign-EndColumnEvenly;

			.Logout {
				width: 100%;
				max-width: 173px;
				height: 35px;

				border-radius: 100px 0px 0px 100px;
				cursor: pointer;

				.icon_name {
					width: 90%;
					height: 100%;

					@extend .flexSpace-around;

					.fa-sign-out-alt {
						font-size: 18px;
						width: 25%;
						height: 100%;
						color: #dbdfea;

						@extend .flexCenter;
					}

					p {
						width: 67%;
						height: 100%;

						font-family: "Gilroy", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 12px;
						display: flex;
						align-items: center;

						color: #dbdfea;
					}
				}

				&:hover {
					background: #1d1e2c;
				}
			}
		}
	}
}

.nav.light-nav {
	background-color: $primary-color-light;
}
